<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <meta charset="UTF-10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Register:</h1>

        <form action="#" th:action="@{/register}" method="POST">
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        Are you alreay registered? <a href="/login">Login!</a> 
    </body>
</html>
